{{template "base" .}}
{{define "content"}}
<div id="info">
    <div class="head">
        <div class="profile">
            <img src="{{.Image}}" width="200px" height="200px" alt="{{.Name}}">
            <p><span>Name: </span>{{.Name}} et leur premier <span>FirstAlbum:</span>{{.FirstAlbum}}</p>
        </div>
        <div class="line">
            <hr>
        </div>
    </div>
    <div class="bloc">
        <div class="members">
            <p><span>Members:</span></p>
            {{if eq .ID 1}}
            {{range .Members}}
            <p>{{.}},</p>
            {{end}}
            {{else}}
            {{range .Members}}
            <p>{{.}}</p>
            {{end}}
            {{end}}
        </div>
        <div class="loc">
            <p><span>Locations:</span></p>
            {{range .Locations}}
            <p>{{.}}</p>
            {{end}}
        </div>
        <div class="date">
            <p><span>Dates:</span></p>
            {{range .ConcertDates}}
            <p>{{.}}</p>
            {{end}}
        </div>
        <div class="relation">
            <p><span>Relations:</span></p>
            {{range $key, $value := .Relations}}
            {{range $value}}
            <p>{{$key}} : {{.}}</p>
            {{end}}
            {{end}}
        </div>
    </div>
</div>
{{end}}